<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416087850215-sepreh4rjrgibvpcjdp8ho97m6dsievn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416087850215-sepreh4rjrgibvpcjdp8ho97m6dsievn</string>
	<key>API_KEY</key>
	<string>AIzaSyAcEJ--MubsqF7Wb73lOS3-eBZlCn41L4g</string>
	<key>GCM_SENDER_ID</key>
	<string>416087850215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dexiree.ChalkOut</string>
	<key>PROJECT_ID</key>
	<string>chalkout-757ea</string>
	<key>STORAGE_BUCKET</key>
	<string>chalkout-757ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416087850215:ios:b1dc9c2214dd5ec121f642</string>
</dict>
</plist>